# Assignment 4 Questions

## Problem Statement

Q.1 Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:

The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below

    i 1 2 3 4 5 6 7 8 9 10
    ===== == == == == == == == == == ==
    Input 10 20 30 40 50 60 70 80 90 100
    y1 25 = (10+20+30+40)/4
    y2 35 = (20+30+40+50)/4
    y3 45 = (30+40+50+60)/4
    y4 55 = (40+50+60+70)/4
    y5 65 = (50+60+70+80)/4
    y6 75 = (60+70+80+90)/4
    y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.

Write a function to find moving average in an array over a window:

Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [31]:
def moving_average(my_list, window):
    moving_list = []
    for i in range(len(my_list)):
        if i < (len(my_list) - (window - 1)):
            moving_list.append(round(sum(my_list[i:i+window])/window, 2))
    return moving_list

my_list = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
window = 3
print((moving_average(my_list, window)))

[5.0, 4.67, 5.67, 6.67, 9.67, 28.67, 49.33, 72.67, 84.0, 93.33, 116.33]

Q.2 How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
    
    import pandas as pd
    df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [25]:
import numpy as np
import pandas as pd

In [23]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
def zero_distance_counter(arr):
    arr = list(arr)
    arr2 = []
    count = 1
    for i in arr:
        if(i == 0):
            count = 0
        arr2.append(count)
        count = count + 1   
    return arr2
df['Y'] = zero_distance_counter(df['X'])
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [16]:
arr = [7,2,0,3,4,5,1,0,2]
arr2 = []
counter = 1
for item in arr:
    if(item==0):
        counter = 0

    arr2.append(counter)
    counter+=1

print(arr2)

[1, 2, 0, 1, 2, 3, 4, 0, 1]

Q.3 Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [52]:
df = pd.date_range(start='2015-01-01', end='2015-12-31')
df = df[(df.weekday != 5) & (df.weekday != 6)]
df = pd.Series(np.random.rand(len(df)), index=df)

In [53]:
df

2015-01-01    0.716278
2015-01-02    0.236264
2015-01-05    0.648931
2015-01-06    0.967879
2015-01-07    0.999415
2015-01-08    0.588616
2015-01-09    0.915647
2015-01-12    0.182676
2015-01-13    0.134008
2015-01-14    0.595202
2015-01-15    0.819398
2015-01-16    0.612108
2015-01-19    0.004003
2015-01-20    0.364288
2015-01-21    0.217176
2015-01-22    0.313032
2015-01-23    0.490154
2015-01-26    0.790681
2015-01-27    0.190825
2015-01-28    0.803889
2015-01-29    0.395868
2015-01-30    0.661954
2015-02-02    0.650287
2015-02-03    0.660706
2015-02-04    0.851093
2015-02-05    0.866418
2015-02-06    0.221574
2015-02-09    0.130360
2015-02-10    0.090308
2015-02-11    0.845751
                ...
2015-11-20    0.206891
2015-11-23    0.099999
2015-11-24    0.320005
2015-11-25    0.029386
2015-11-26    0.582559
2015-11-27    0.971103
2015-11-30    0.772441
2015-12-01    0.807014
2015-12-02    0.957514
2015-12-03    0.359973
2015-12-04    0.285652
2015-12-07    0.111637
2015-12-08    0.336678
2015-12-09    0.598118
2015-12-10    0.707910
2015-12-11    0.685823
2015-12-14    0.616997
2015-12-15    0.323394
2015-12-16    0.728007
2015-12-17    0.994201
2015-12-18    0.035561
2015-12-21    0.257349
2015-12-22    0.984559
2015-12-23    0.108717
2015-12-24    0.591841
2015-12-25    0.377875
2015-12-28    0.876595
2015-12-29    0.158069
2015-12-30    0.995054
2015-12-31    0.555229
Length: 261, dtype: float64

Q.4